.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 70rem;
  background-color: var(--primary);
}

.contact__desc {
  padding-bottom: 5em;
  width: 45%;
  font-size: x-large;
}

.contact__form {
  width: 55%;
}
