fieldset {
  border: none;
  margin: 0 auto;
}

label {
  display: block;
  margin: 10px auto;
  text-align: left;
  max-width: 500px;
}

input,
textarea {
  width: 100%;
  min-height: 2em;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 0 auto 20px auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #bbbbc4;
  border-color: white;
  max-width: 350px;
}
