.navbar {
  position: sticky;
  display: flex;
  background-color: var(--primary);
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  max-height: 3rem;
  width: 100%;
}

.navbar__list {
  display: flex;
  gap: 20px;
  list-style: none;
  font-size: 20px;
  max-width: inherit;
  align-items: center;
}
